.single {
    padding: 2px 16px;
    background-color: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.single:hover {
    border-left: 8px solid #4979ff;
}
